<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:\temp\Logs\internal-nlog4txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="database" xsi:type="Database"
                connectionString="server=85.111.48.114,1433;Database=suwen_ozcan;user id=ozcandb;password=a1fX0J3;">
      <commandText>
        insert into dbo.CampaignLog (
        Application, Logged, Level, Message,
        Logger, CallSite, Exception, EntityType, EntityId, ProcessBy
        ) values (
        @Application, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception, @entityType, @entityId, @processBy
        );
      </commandText>
      <parameter name="@application" layout="AspNetCoreNlog" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <parameter name="@entityType" layout="${event-properties:EntityType}"  />
      <parameter name="@entityId" layout="${event-properties:EntityId}"  />
      <parameter name="@processBy" layout="${event-properties:ProcessBy}"  />
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="database" />
    <!--<logger name="*." minlevel="Warn" writeTo="database" />-->
  </rules>
</nlog>